/*.signin_background{
    background-image: url("../assets/bg.jpg")  !important;
    background-position: center top;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    width: 100% !important;
    height: 100%;
    font-family: 'Roboto';
}
*/
@import url("https://fonts.googleapis.com/css?family=Rubik:400,700");

html,
body {
    height: 100%;
}

.signin_background {
    background-color: #fff !important;
}

.page__background {
    background-color: #fff !important;
}

.signin_div {
    color: #fff;
    font-family: "Rubik", sans-serif;
    /*padding-bottom: 5px;*/
    position: relative;
    min-height: 100%;
}

.signup_div {
    color: #fff;
    font-family: "Rubik", sans-serif;
    /*padding-bottom: 15px;*/
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.form_icon {
    float: left;
    margin-right: 12px;
    /* overflow:hidden; */
}

/* .form_icon_i{
    margin-left:15px;
    font-size: 18px;
} */

.form_icon_i {
    margin-top: -3px;
    margin-left: -20px;
    font-size: 18px;
    background: white;
    padding: 6px;
    border-radius: 7px;
    width: 20px;
    height: 18px;
    text-align: center;
    box-shadow: 0px 1px 3px 4px #eee;
}

.form_icon_env {
    margin-right: 11px !important;
}

.form_icon_env i {
    font-size: 17px !important;
    margin-left: 14px !important;
}

.form_icon_2 {
    margin-left: 17px !important;
    padding-right: 1px !important;
    font-size: 22px !important;
}

.form_icon_mobile {
    /* margin-left:13px !important; */
}

/* .l360_logo{
    width: 40%;
    bottom: 0;
    left: 0;
} */
.l360_logo {
    background: white;
    padding: 16px 0px 20px;
    box-shadow: 0px 0px 2px 3px #eee;
    /* height: 50px; */
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}

.l360_logo svg {
    width: 40%;
    margin-right: 20px;
    float: right;
}

.l360_logo2 {
    background: #fff;
    padding-top: 16px;
    box-shadow: 0 0 2px 3px #eee;
    height: 60px;
    margin-top: 37%;
}

.l360_logo2 svg {
    width: 40%;
    margin-right: 20px;
    float: right;
}

@media screen and (min-width: 14px) and (max-width: 320px) {
    .signin_div {
        padding-bottom: 80px;
    }

    .signup_div {
        padding-bottom: 90px;
    }

    input_text {
        margin-left: 32px !important;
    }

    .form_icon {
        float: left !important;
        width: 27px;
        /* overflow:hidden !important; */
    }

    .form_icon_i {
        margin-left: -20px;
        font-size: 17px !important;

        margin-top: 0px;
        position: absolute;
    }

    .form_icon_env {
        margin-left: -6px;
    }

    .form_icon_env i {
        margin-right: 0px !important;
        font-size: 17px !important;
        margin-top: 1px;
    }

    .sign_up_phone {
        /* margin-left:-6px */
    }

    .form_icon_2 {
    }

    .form_icon_mobile {
        /* margin-left:10px !important;
            margin-top:0px; */
        position: absolute;
    }

    .text-input--material__label {
        float: right !important;
        overflow: hidden !important;
        margin-left: 30px !important;
        top: 8px;
    }

    .text-input--material {
        margin-left: 32px !important;
        font-size: 12px !important;
        color: #afafaf !important;
    }

    .text-input text-input--material {
        color: #afafaf !important;
    }

    #input_width,
    #input_width1,
    #input_width2,
    #input_width3,
    #input_width4,
    #input_width5 {
        width: 72% !important;
        color: #afafaf !important;
    }
}

.signin_button,
.login_fb_button {
    width: 30%;
    margin: auto;
    margin-right: 8%;
    margin-top: 10%;
    outline: 0;
    float: right;
}

.pass_button button {
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    /* padding: 7px 12px; */
    display: block;
    width: 35%;
    margin-bottom: 5%;
    margin-left: 10%;
    text-align: center;
    background-color: #567499;
    border-radius: 35px;
    /* border-color: #fe4701; */
    color: #fff;
    border: none;
    outline: 0;
}

.signin_button button {
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    /* padding: 7px 12px; */
    display: block;
    width: 100%;
    text-align: center;
    background-color: #ffff;
    font-family: "Rubik", sans-serif;
    border-radius: 40px;
    /* border-color: #fe4701; */
    color: #826aaf;
    border: none;
    /* border: 2px solid #e8e8e8; */
    box-shadow: 0px 0px 10px 5px #eee;
    outline: 0;
}

.dash_button button {
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    /* padding: 7px 12px; */
    display: block;
    width: 40%;
    text-align: center;
    background-color: #4287b1;
    font-family: "Rubik", sans-serif;
    border-radius: 40px;
    /* border-color: #fe4701; */
    color: #dbd8d7;
    border: none;
}

.login_fb_button {
    margin-top: 6%;
}

.button--large {
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    padding: 7px 12px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fe4701;
    font-family: "Rubik", sans-serif;
    border-radius: 6px;
}

.lines {
    width: 69%;
    margin: auto;
}

.line1 {
    width: 41%;
    float: left;
}

.line2 {
    width: 45%;
    float: right;
}

.signin_logo {
    height: 50px;
    margin-top: 16%;
    z-index: 9999;
}

.signin_form {
    margin-top: 12%;
}

.signup_form {
    margin-top: 10%;
}

.signup_text {
    /*color: #908f8f;*/
    /*float: right;*/
    /*!* margin-right: -1%; *!*/
    /*margin-top: 2%;*/
    /*font-size: 10px;*/
    /* color: #908f8f; */
    /* float: right; */
    /* margin-top: 2%; */
    /* font-size: 10px; */
    color: #908f8f;
    float: left;
    margin-left: 32px;
    /*margin-top: 11%;*/
    font-size: 12px;
}

/* .form_item{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #c2c5c7;
    text-align: left;
    margin-bottom: 20px;
} */

.form_item {
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #c2c5c7;
    text-align: left;
    margin-bottom: 10px;
    padding: 20px;
}

.text-input--material {
    background-size: 100% 0px !important;
    color: #afafaf !important;
}

/* .signup_form_item{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #c2c5c7;
    text-align: left;
    margin-bottom: 20px;
} */

.signup_form_item {
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #c2c5c7;
    text-align: left;
    margin-bottom: 10px;
    padding: 20px;
}

.icons {
    color: #207fc1;
}

.text-input--material__label--active {
    color: #3d80ae !important;
}

.text-input--material {
    color: #afafaf !important;
    background: transparent !important;
    width: 100% !important;
}

.text-input--material:focus {
    border-bottom: none;
}

.signin_menu {
    /* margin: auto;
      width: 86%;
      overflow:hidden;
      padding: 30px 10px 7px 10px;  */
    display: inline-block;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}

.signin_menu ul {
    margin: 0;
}

.signin_menu ul li {
    float: left;
    display: block;
}

.signin_menu ul li p {
    color: #908f8f;
    font-size: 13px;
}

.signin_menu ul li:last-child {
    float: right;
    margin-right: 35px;
}

.forgot_password {
    float: right;
    text-align: right;
    overflow: hidden;
    color: #908f8f;
    margin-top: 1%;
}

.signUp_option {
    float: left;
    text-align: left;
    overflow: hidden;
    color: #908f8f;
}

.signUp_option p,
.forgot_password p {
    font-size: 0.6em;
}

ons-input {
    display: table;
}

ons-input .text-input {
}

.select-input {
    color: #6398be;
}

select:active {
    background: transparent !important;
    border-color: transparent !important;
}

option:active {
    background: transparent !important;
    border-color: transparent !important;
}

select:focus {
    background: #efeff4;
    border-color: #413759;
}

select:hover {
    background: transparent !important;
    border-color: #413759;
}

option:focus {
    background: #efeff4;
    border-color: #413759;
}

.select-input--material {
    font-size: 16px;
    color: #afafaf !important;
    margin-left: 10px;
}

.card.test {
    width: 40%;
    /* padding: 43px; */
    /* padding: 31px; */
    /* margin: auto; */
    /* margin-left: 2%; */
    /* margin-bottom: 2%; */
    /* margin-right: 3%; */
    /* margin-top: 5%; */
    text-align: center;
    font-size: 24px;
    color: #373334;
    /* margin: auto; */
    padding: 4px 4px 9px 5px;
    border-radius: 5px !important;
}

.test_background .page {
    background-color: #493a68 !important;
}

.min_text {
    font-size: 12px;
    color: #373334;
    font-family: "Rubik", sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.button_none {
    display: none;
}

#donate {
    margin: 4px;
    position: relative;
    top: 10%;
    transform: translateY(5%);
}

#donate label {
    float: left;
    background-color: #efefef;
    border-radius: 6px;
    border: 2px solid #e6e3e3;
    overflow: auto;
}

#donate label span {
    text-align: center;
    font-size: 18px;
    padding: 10px 0px;
    display: block;
}

#donate label input {
    position: absolute;
    top: -20px;
}

#donate input:checked + span {
    background-color: #1b2e63;
    color: #eaeaea;
    border: 2px solid #eaeaea;
}

#donate .yellow {
    background-color: #ffff;
    color: #1b2e63;
    width: 82%;
    /* padding: 1%; */
    margin: 5px;
}

.test_body {
    margin-top: 81px;
    padding-bottom: 92px;
}

.ion-ios-clock {
    font-size: 6vh;
    font-weight: 100;
    z-index: 999;
    /*Before*/
    /*margin-top: 14px;*/
    /*After*/
    margin-top: 10px;
}

.content {
    overflow: hidden;
}

.test_text {
    text-align: left;
    font-size: 18px;
    color: #1b2e63;
    margin-left: 40px;
    margin-right: 40px;
}

.timer {
    /*float: left;*/
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*color: #1b2e63;*/
    /*-webkit-box-pack: left;*/
    /*-ms-flex-pack: left;*/
    /*justify-content: center;*/
    /*!*width: 49%;*!*/
    /*height: 50px;*/
    /*border-right: 1px solid #fff;*/
    float: left;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #1b2e63;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: center;
    width: 72%;
    height: 50px;
    border-right: 1px solid #fff;

}

.minutes {
    font-size: 5vh;
    font-weight: 100;
    /*before*/
    /*margin-top: 14px;*/
    z-index: 999;
    padding-left: 10px;
    /*after*/
    margin-top: 10px;
}

.seconds::before {
    content: ":";
    font-size: 5vh;
    font-weight: 100;
    z-index: 999;
}

.seconds {
    font-size: 5vh;
    font-weight: 100;
    z-index: 999;
    /*margin-top: 14px;*/
    margin-top: 10px;
}

.footer_test {
    width: 100%;
    margin: auto;
    background-color: #ffff;
    text-align: center;
    padding: 0px 1px 12px 0;
    color: #eaeaea;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    height: 56px;
}

.footer_test2 {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    text-align: center;
    padding: unset;
    color: #eaeaea;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0px 0px 0px;
    height: 59px;
}

.timer_button {
    /*width: 50%;*/
    width: 25%;
    overflow: hidden;
    margin-top: 7px;
    float: right;
}

.next_button {
    /* border: 2px solid #fff; */
    padding: 7px 13px 3px 20px;
    /* border-radius: 36px; */
    /* background-color: #eaeaea; */
    color: #1b2e63;
    font-size: 24px;
    width: 56%;
    margin: auto;
}

.test_card {
    margin-top: 15%;
    background-color: #f8f7f7;
    padding-bottom: 183px;
}

.test_text :hover {
    background: #373334;
}

.text_signin {
    color: #ffffff;
    padding: 0px 35px 55px 25px;
    background: #6d9acfc9;
    /* background: linear-gradient(to bottom, #00adffa6 0%,#00adffa6 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5199', endColorstr='#4d95b7',GradientType=0 ); */
    /* margin-top: -6%; */
    position: relative;
    display: inline-block;
}

.text_signin:before {
    background: url(../assets/img1.png);
    position: absolute;
    content: "";
    width: 80%;
    height: 100%;
    top: 2px;
    z-index: -11111;
    right: 0;
    background-size: 100% 100%;
    margin: auto;
    left: 0;
}

.text_signin h2.app_title {
    text-align: left;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    padding: 6vh 0vw 0 5vw;
    margin: 0;
}

.text_signup {
    color: #ffffff;
    padding: 30px 0px 30px 30px;
    background: #6d9acfc9;
    /* background: linear-gradient(to bottom, #00adffa6 0%,#00adffa6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5199', endColorstr='#4d95b7',GradientType=0 );
      margin-top: -6%;*/
    position: relative;
    display: inline-block;
    width: 100%;
}

.text_signup:before {
    background: url(../assets/img1.png);
    position: absolute;
    content: "";
    width: 40%;
    height: 90%;
    top: 2px;
    z-index: -11111;
    right: 0;
    background-size: 96% 117%;
    margin: 0 auto;
    left: 0;
}

h2.app_title {
    text-align: left;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    padding: 0vh 0vw 0 3vw;
    margin: 0;
}

h3.app_title_two {
    font-size: 17px;
    text-align: left;
    color: #ffff;
    padding: 0vh 0vw 0 5vw;
    font-family: "Rubik", sans-serif;
}

.score {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 90px;
    padding-bottom: 100px;
    /* After */
    /* padding-bottom: 80px; */
}

.fa-trophy {
    color: #1b2e63;
    /*animation: pulse 5s infinite;
      /* margin: auto; */
    /* margin-left: 30%; */
    /* margin-right: 30%; */
    font-size: 10vh;
}

@keyframes pulse {
    0% {
        color: #001f3f;
    }
    20% {
        color: #1b6c3b;
    }
    40% {
        color: #00bcd4;
    }
    60% {
        color: #e91e63;
    }
    80% {
        color: orange;
    }
    100% {
        color: #ff4136;
    }
}

h2.score_head {
    /*font-size: 8vw !important;*/
    /*color: #373334;*/
}

h3.score_text {
    color: #656263;
    margin-top: -4%;
    font-size: 12px !important;
}

.score_test2 {
    color: #ffff;
    font-size: 16px;
    /* padding: 1px 0px 0px 0px; */
    margin-left: -17px;
}

.score_test {
    padding: 17px 19px 10px 31px;
    font-size: 51px;
    color: rgba(255, 255, 255, 1);
}

.score_test_2 {
    padding: 14px 15px 3px 17px;
    font-size: 51px;
    color: rgba(255, 255, 255, 1);
}

.score_div {
    position: relative;
    margin-top: -7%;
    width: 100%;
    text-align: center;
}

.subs {
    height: 50%;
    width: 20%;
}

#s1,
#s3,
#s5,
#s7,
#s9,
#s11,
#s13,
#15 {
    height: 40%;
    width: 20%;
    background-color: blue;
    color: white;
}

#s2,
#s4,
#s6,
#s8,
#s10,
#s12,
#s14,
#s16 {
    height: 40%;
    width: 20%;
    backround-color: white;
    color: blue;
}

/*.text_dash{
    transform: rotate(90deg);
    color: #0f2aec;
    /* background-color: blue; */
/* z-index: 9999;
 /* margin-top: 54%; */
/*    position: absolute;

*/
flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    flex-direction: row;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 90%;
    margin: 10px;
    text-align: center;
    /* line-height: 41px; */
    font-size: 13px;
    /* float: left; */
    /* overflow: hidden; */
    padding: 6px 0 15px 0px;
    color: blue;
}

.prev_next_button {
    margin: auto;
    width: 50%;
}

.dash_but {
    margin-bottom: 3%;
}

.dash_but ons-button {
    width: 46%;
    margin: auto !important;
    display: inherit;
}

.dash_card {
    margin-top: 22%;
}

/*

#input_width:before{
    content: " *";
    color: #3e5a6b;
    position: absolute;
    left: -21%;
    top: 9%;

}
#input_width2:before{
    content: "*";
    color: #3e5a6b;
    position: absolute;
    left: -21%;
    top: 9%;
}
#input_width5:before {
    content: "*";
    color: #3e5a6b;
    position: absolute;
    left: -21%;
    top: 9%;
}
#input_width6:before{
    content: "*";
    color: #3e5a6b;
    position: absolute;
    left: -21%;
    top: 9%;
}
*/

.d3 {
    background-color: blue;
}

#diagram {
    color: #ffffff;
}

.signup-page-radio {
    height: 17px;
    width: 19px;
}

.signup-page-birthday {
    border-radius: 15px;
    text-align: center;
    width: 34%;
}

.fa-home {
    color: #373334;
}

.toolbar--material__center {
    font-size: 17px !important;
    text-align: center !important;
}

.dash_text {
    color: #2a78fc;
    font-size: 13px;
    text-align: center;
}

.dash {
    font-size: 10px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.circle1 {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.circle::before {
    content: "\f310";
    font-family: "Material-Design-Iconic-Font";
    font-size: 40px;
    color: white;
}

.circle1::before {
    content: "\F068";
    font-family: "FontAwesome";
    font-size: 40px;
    color: white;
    margin-left: 4px;
}

.circle2 {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.circle2::before {
    content: "\f30e";
    font-family: "Material-Design-Iconic-Font";
    font-size: 40px;
    color: white;
}

.circle_new {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.dashboard {
    color: #ffffff;
}

.page__background {
    background-color: #f8f7f7 !important;
}

.time {
    height: 12px;
    margin-top: 10px;
}

.Exam {
    /* "Article was present" */
    /* float: left;
    width: 28%;
    /* margin: auto; */
    /* letter-spacing: 2px;
    padding: 13px 32px 7px 27px;
    color: #1b2e63 !important;
    font-size: 14px; */
    /*   end */
    float: left;
    width: 28%;
    /* margin: auto; */
    letter-spacing: 2px;
    padding: 13px 32px 7px 40px;
    color: #1b2e63 !important;
    font-size: 20px;
}

.Exam2 {
    float: left;
    width: 17%;
    /* margin: auto; */
    letter-spacing: 0px;
    /* padding: 3px 65px 12px 29px; */
    color: #1b2e63 !important;
    /* font-size: 14px; */
    /* After */
    font-size: 20px;
    padding: 3px 65px 12px 38px;
}

.Exam3 {
    float: left;
    width: 17%;
    /* margin: auto; */
    letter-spacing: 0px;
    padding: 10px 65px 12px 29px;
    color: #1b2e63 !important;
    font-size: 22px;
}

ons-icon {
    margin-top: 7px;
}

.timer_div {
    width: 90%;
    /* margin: auto; */
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 9%;
}

.article {
    letter-spacing: 3px;
    padding: 12px 32px 7px 32px;
    color: #1b2e63 !important;
    font-size: 14px;
}

.article2 {
    letter-spacing: 3px;
    padding: 14px 34px 5px 34px;
    color: #1b2e63 !important;
    font-size: 14px;
    margin-right: 25%;
}

.Exams {
    width: 17%;
    /* margin: auto; */
    letter-spacing: 0px;

    color: #1b2e63 !important;
    font-size: 22px;
    margin: auto;
    padding: 10px 27px 24px 0px;
}

.settings {
    float: right;
    /* Article was present */
    /* color: #1b2e63 !important;
      margin-top: -23px;
      margin-right: 13%; */

    float: right;
    color: #1b2e63 !important;
    margin-top: 14px;
    margin-right: 15%;
    font-size: 20px;
}

.settings2 {
    padding: 1px 0px 0px 23px;
    color: #1b2e63 !important;
    /* margin-top: -23px; */
    margin-top: 10px;
    /* font-size: 14px; */
    margin-left: 60%;
    font-size: 20px;
}

.settings3 {
    padding: 15px 0px 0px 23px;
    color: #1b2e63 !important;
    margin-left: 60%;
}

.test,
.min_text {
    color: #1b2e63 !important;
}

.fa-home {
    color: #1b2e63 !important;
}

.timer_top {
    font-size: 19px;
    padding: 0px 5px 3px 30px;
    color: #1b2e63 !important;
}

.update_top {
    font-size: 19px;
    padding: 0px 20px 3px 30px;
    color: #1b2e63 !important;
}

.test_txt_1 {
    margin-top: 4%;
}

.page-with-bottom-toolbar > .page__content {
    bottom: 60px !important;
}

.sub {
    margin-top: 20px;
}

.score_card {
    width: 60%;
    border-radius: 12px;
    margin: auto;
}

.scores {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #af81de;
    position: relative;
    margin: auto;
    margin-bottom: 4px;
}

.sc_text {
    margin-top: -4px;
    margin-left: 36%;
}

.motivated_text {
    height: 12px;
    margin: auto;
    width: 87%;
    text-align: center;
    margin-bottom: 3px;
}

.test_txt_2 {
    width: 66%;
    margin: auto;
    margin-bottom: 18px;
}

.footerp {
    height: 22px;
    border: 1px solid #e6e3e3;
    border-radius: 14px;
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    padding: 6px 0px;
    /* margin-bottom: 14%; */
    /* text-align: center;
    font-size: 12px;
    color: #1b2e63;
    /* margin-top: 18px; */
    margin: auto;
    line-height: 18px;
    margin-bottom: 10px;
}

/* After deleting article */

.footer1 {
    height: 22px;
    border: 1px solid #e6e3e3;
    border-radius: 14px;
    background-color: #ffffff;
    width: 70%;
    /* margin: auto; */
    padding: 6px 0px;
    /* margin-bottom: 14%; */
    text-align: center;
    font-size: 12px;
    color: #1b2e63;
    /* margin-top: 18px; */
    margin: auto;
    line-height: 18px;
    margin-bottom: 20px;
}

.footers {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    height: 100%;
}

.score_divs {
    position: absolute;
    top: 45px;
}

.score_list {
    float: right;
    width: 51px;
    margin-top: 0px;
}

.topic {
    width: 220px;
    float: left;
    padding-left: 7px;
}

.lists {
    /* height: 46px; */
    border-bottom: 1px solid #e4e1e0;
    line-height: 19px;
    overflow: hidden;
    padding: 8px 0px;
}

.topic_list {
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 12px;
    background-color: #fff;
    border-radius: 10px;
    color: #1b2e63;
}

.topic_head {
    height: 30px;
    border-bottom: 1px solid #e4e1e0;
    line-height: 30px;
}

.details_name {
    margin-right: 14px;
    font-size: 30px;
}

.home {
    margin-left: 30px;
}

.dash_dot_icon2 {
    transform: rotate(90deg);
}

.back_to {
    color: #1b2e63;
    margin-left: 30px;
    font-size: 15px;
}

.topic_heading {
    width: 218px;
    float: left;
    padding-left: 7px;
}

.score_list_head {
    float: right;
    width: 53px;
}

.bottom-bar {
    height: 56px;
}

.index {
    margin-top: 14px;
    font-size: 20px;
    padding: 5px 5px 8px 50px;
}

.index2 {
    margin-top: 14px;
    font-size: 15px;
    /* padding: 3px 91px 3px 8px; */
    color: #1b2e63;
    /* width: 194px; */
    float: left;
    margin-left: 12px;
    margin-top: 21px;

}

.exam_details {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    /* background-color: #fff; */
}

.exam_score {
    margin-bottom: 2px;
    background-color: #fff;
    border-radius: 8px;
    color: #495959;

}

.score_right {
    width: 80px;
    font-size: 34px;
    background-color: #fbfafa;
    /* color: black; */
    border-radius: 6px 0px 0px 6px;
    text-align: center;
    /* margin-left: 12px; */
}

.score_txt {
    font-size: 9px;

    margin-top: 0;
}

.score_value {
    text-align: center;
}

.exam_text {
    width: 70%;
    float: right;
    margin-top: 7px;
}

.exam_text_2 {
    width: 64%;
    float: right;
    margin-top: 7px;

}

.result {
    margin-bottom: 2px;
    background-color: #fff;
    border-radius: 8px;
    color: #495959;

}

.text_top {
    margin-bottom: 9px;
    margin-left: 5px;
    font-size: 17px;
    color: #1c2e62;
}

#swal2-content li {
    list-style: decimal;
    text-align: left;
}

