<template>
    <v-ons-navigator id="Navigator" :page-stack="pageStack">
        <component :is="page" v-for="page in pageStack" :page-stack="pageStack"></component>
    </v-ons-navigator>
    <!--<v-ons-navigaor :page-sack="pageStack" id="Navigator"-->
        <!--@push-page="pageStack.push($event)" :options="{-->
    <!--animation: 'lift',-->
    <!--animationOptions: {duration: 0.2, timing: 'ease-in'}}"-->
    <!--@replace-page="pageStack.pop(); pageStack.push($event)"-->
  <!--&gt;-->
        <!--<component :is="page" v-for="page in pageStack" :page-stack="pageStack"></component>-->

    <!--</v-ons-navigaor>-->
</template>

<script>
    import login from "./LogIn";
    import  dashboard from "./dashboard";
    import diagram from "./component/diagram";

    export default {
        data() {
            return {
                pageStack: []
            };
        },
        mounted() {
            this.check();
        },
        created() {
        },
        components: {
            diagram
        }
    };
</script>
