<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <div class="back_to_article_list" @click="back_to_article_list"><i class="fa fa-arrow-left"></i></div>
            </div>
        </v-ons-toolbar>
        <div class="articles">
            <strong>{{single_list.title.rendered}}</strong>
            <p v-html="single_list.content.rendered"></p>
        </div>
    </v-ons-page>
</template>

<script>
    export default {
        data: function () {
            return {
                single_list: ""
            };
        },
        created() {
            this.article_list();
        },
        mounted() {
            this.$ons.ready(() => {
                this.$ons.enableDeviceBackButtonHandler();
            });
        },

        methods: {
            article_list() {
                this.$http({
                    method: "get",
                    url: this.$store.state.article_fetch.article_link,

                    auth: {
                        username: "borsha",
                        password: "borsha06"
                    }
                })
                    .then(res => {
                        //console.log(res);
                        this.single_list = res.data;
                        //console.log(this.single_list);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            back_to_article_list: function () {
                this.pageStack.pop();
            }
        },
        props: ["pageStack"]
    };
</script>

<style scoped>
    .articles {
        width: 80%;
        margin: auto;
        background: white;
        border-radius: 5px;
        border: 1px solid #ffffff;
        margin-top: 16px;
    }

    .back_to_article_list {
        color: #1b2e63;
        margin-left: 30px;
        font-size: 15px;
    }

    .art_list {
        border-bottom: 5px solid #f8f7f7;
    }
</style>
