<template id="dashboard.html">
    <v-ons-page modifier="dashboard" name="dashboard">
        <div class="dash">

            <v-ons-toolbar>
                <div class="left">
                    <div class="name" style="color:#1b2e63;"><strong>{{this.$store.state.user.name}} </strong>
                    </div>
                </div>
                <!--<div class="right">-->
                <!--<i class="fa fa-window-close" aria-hidden="true" style="color:#1b2e63; margin-right:10px;" @click="back"></i>-->
                <!--</div>-->
            </v-ons-toolbar>
            <div class="style">
                <div class="names">


                    <div class="buttons">
                        <div class="dash_history" v-show="exam_data.length !==0">
                            <div class="text_top">Current Result</div>
                            <div class="result" @click="exam_details">
                                <div class="dash_dot_icon">
                                    <i class="fa icon2 fa-ellipsis-h" style="float: right !important;
    transform: rotate(90deg);
    font-size: 15px;
    margin-right: 4px;
    margin-top: 5px;"></i>
                                </div>
                                <div v-for="exam in exam_data">
                                    <div class="exam_text_2">
                                        {{exam.exam_type}}
                                        <!--<span style=" font-size: 9px;float: right;margin-right: 23px;margin-top: 0px;">-->
                                            <!--{{ moment(exam.ended_at).fromNow()}}-->
                                        <!--</span>-->
                                        <p style="font-size: 9px;">{{exam.name}} </p>
                                        <div style="font-size: 9px;
    width: 70px;     float: left;"> Correct ans: {{exam.ans_right}}
                                        </div>
                                        <div style="font-size: 9px;
    width: 61px;     float: left;"> Wrong ans: {{exam.ans_wrong}}
                                        </div>
                                        <div style="font-size: 9px;
    width: 40px;
    float: right;"> Skip: {{exam.question_skipped}}
                                        </div>

                                        <!--<div style="font-size: 9px;  width: 56px;-->
                                        <!--float: right;"> Skip: {{value.correct}}</div>-->


                                    </div>
                                    <div class="score_right">
                                        <div class="score_value" v-if="exam.mark_received >=10">
                                            {{exam.mark_received}}
                                        </div>
                                        <div class="score_value" v-else> 0{{exam.mark_received}}</div>
                                        <p class="score_txt">Your Score </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button_group" style="background-color: #ffffff;">

                            <button class="signin_button_2" @click="generate_score(0)">Overall</button>
                            <button class="signin_button_2" @click="generate_score(7)">Last 7 Days</button>
                            <button class="signin_button_2" @click="generate_score(30)">Last 30 Days</button>
                        </div>
                    </div>
                    <div v-for="as in msg.data">

                        <v-ons-card class="list" @click="performance_chart( as.subject_id )">

                            <div class="dash_dot_icon">
                                <i class="fa icon1 fa-ellipsis-h"></i>
                            </div>
                            <div v-if="as.change ===0 " class="circle1"
                                 v-bind:style="{ 'background-color': grey }">

                            </div>
                            <div v-else-if=" as.is_neg === false" class="circle"
                                 v-bind:style="{ 'background-color': green }">

                            </div>
                            <div v-else-if=" as.is_neg === true " class="circle2"
                                 v-bind:style="{ 'background-color': red }">

                            </div>


                            <div class="sub">
                                <p class="subject">{{as.subject}}</p>
                            </div>
                            <div class="progress_percent">
                                <!--<div class="progress">-->
                                <!--<v-ons-progress-bar :value="as.score" v-bind:class="{'progress-bar&#45;&#45;primary ': active,'progress-bar&#45;&#45;material__secondary':active}"></v-ons-progress-bar>-->

                                <!--</div>-->
                                <div class="progress">
                                    <div v-if="as.score ==0" class="bar"></div>

                                    <div v-else-if="(as.score >=1 && as.score <= 10) "
                                         v-bind:style="{width: as.score + '%','background-color':color1 }"
                                         class="bar"></div>

                                    <div v-else-if="(as.score >=11 && as.score <= 20)"
                                         v-bind:style="{width: as.score + '%', 'background-color':color2} "
                                         class="bar"></div>

                                    <div v-else-if="(as.score >=21 && as.score <= 30) "
                                         v-bind:style="{width: as.score + '%','background-color':color3} "
                                         class="bar"></div>


                                    <div v-else-if="(as.score >=31 && as.score <= 40) "
                                         v-bind:style="{width: as.score + '%','background-color':color4} "
                                         class="bar"></div>


                                    <div v-else-if="(as.score >=41 && as.score <= 50) "
                                         v-bind:style="{width: as.score + '%','background-color':color5} "
                                         class="bar"></div>


                                    <div v-else-if=" (as.score >=51 && as.score <= 60) "
                                         v-bind:style="{width: as.score + '%', 'background-color':color6} "
                                         class="bar"></div>

                                    <div v-else-if=" (as.score >=61 && as.score <= 70) "
                                         v-bind:style="{width: as.score + '%', 'background-color':color7} "
                                         class="bar"></div>

                                    <div v-else-if=" (as.score >=71 && as.score <= 80) "
                                         v-bind:style="{width: as.score + '%', 'background-color':color8} "
                                         class="bar"></div>
                                    <div v-else-if=" (as.score >=81 && as.score <= 90) "
                                         v-bind:style="{width: as.score + '%', 'background-color':color9} "
                                         class="bar"></div>
                                    <div v-else-if=" (as.score >=91 && as.score <= 100) "
                                         v-bind:style="{width: as.score + '%', 'background-color':color10} "
                                         class="bar"></div>

                                </div>
                                <div class="parcent_progress"><p class="text"> {{as.score}}% </p>
                                </div>
                            </div>
                        </v-ons-card>


                    </div>
                </div>
            </div>
        </div>


        <v-ons-bottom-toolbar id="bottom ">
            <div class="footer_test2">
                <div class="Exam2" @click="test_page">
                    <v-ons-icon icon="md-time" size="20px" style="color:#1b2e63;"></v-ons-icon>
                    Exam
                </div>
                <!-- <div class="article2" @click="aricles"><i class="fa fa-file"></i>Article</div> -->
                <div class="settings2" @click="setting"><i class="fa fa-cog"></i></div>

            </div>
        </v-ons-bottom-toolbar>

    </v-ons-page>
</template>
<script>
    import timers from "./timers";
    import Vue from "vue";
    import wordpress from "./wordpress";
    import diagram from "component/diagram.js";
    import Toasted from "vue-toasted";
    import settings from "./settings";
    import details from "./details";
    import login from "./LogIn";
    import swal from "sweetalert2";
    import exam_details from "./exam_details";
    import momentsago from "./component/momentsago";

    Vue.use(Toasted);

    export default {
        components: {
            momentsago
        },
        data: function () {
            return {
                score: {},
                values: [],
                keys: [],
                data_collection: "",
                msg: [],
                arr: [],
                color: "#7D5FA9",
                color1: "#FF3089",
                color2: "#F9568C",
                color3: "#CB47A5",
                color4: "#8E56AA",
                color5: "#845EC2",
                color6: "#2C73D2",
                color7: "#0081CF",
                color8: "#0089BA",
                color9: "#008E9B",
                color10: "#008F7A",
                green: "#008F7A",
                red: "#EC177B",
                grey: "#a0a0a7",
                bars: true,
                dialogVisible: false,
                subject_id_list: [],
                val: "",
                active: true,
                is_back_button: true,
                exam_data: []
            };
        },
        components: {diagram},
        created() {

            this.exam_history();
        },

        mounted() {
            this.generate_score(this.val);
            this.back_button();


            // this.$ons.ready(() => {
            //   this.$ons.disableDeviceBackButtonHandler();
            // });
        },

        computed: {
            progress_div: function () {
            }
        },

        methods: {
            test_page: function () {
                this.pageStack.push(timers);
            },
            setting: function () {
                this.pageStack.push(settings);
            },
            aricles: function () {
                this.pageStack.push(wordpress);
            },
            dash: function () {
                this.pageStack.pop();
            },
            logout: function () {
                this.page = this.pageStack.length;
                for (this.i = 1; this.i < this.page; this.i++) {
                    this.pageStack.pop();
                }
            },
            exam_details: function () {
                this.pageStack.push(exam_details);
            },

            wp_articles: function () {
                this.pageStack.push(wordpress);
            },
            generate_score(value) {
                var user_performance_days = {
                    day: value
                };
                this.$store.commit("getDays", user_performance_days);
                // console.log(this.$store.state.user_performance_days);
                // console.log(value);

                if (value === "" || value === undefined) {
                    value = 0;
                }
                this.$http({
                    method: "get",
                    url:
                        this.base_url +
                        this.score_api +
                        this.$store.state.user.id +
                        "/subjects/" +
                        "?days=" +
                        value,

                    auth: {
                        username: "l360_mobile_app",
                        password: "itsd321#"
                    }
                })
                    .then(res => {
                        if (res.status === 200) {

                            this.msg = res.data;

                            for (var i = 0; i < this.msg.data.length; i++) {
                                this.subject_id_list.push(this.msg.data[i].subject_id);
                            }
                            var subject_performance = {
                                subject_lists: this.subject_id_list
                            };

                            this.$store.commit("getPerformance", subject_performance);

                        }
                    })
                    .catch(err => {
                        swal({
                            title: "Oops!",
                            text: "Network problem",
                            type: "error"
                        });

                    });
            },
            performance_chart: function (subject_id) {

                var individual_subject = {
                    subject_id_click: subject_id
                };
                this.$store.commit("getSubject", individual_subject);
                this.pageStack.push(details);
            },
            log: function () {
                localStorage.clear();

                this.pageStack.splice(0, 1);
                this.pageStack.push(login);
            },
            back: function () {
                this.$ons.ready(() => {
                    this.$ons.notification
                        .confirm("Do you want to close the app?") // Ask for confirmation
                        .then(function (index) {
                            if (index === 1) {
                                // OK button
                                navigator.app.exitApp(); // Close the app
                            }
                        });
                });
            },

            back_button: function () {
                this.$ons.ready(() => {
                    if (this.is_back_button) {

                        this.$ons.disableDeviceBackButtonHandler();


                        document.addEventListener(
                            "backbutton",
                            e => {
                                e.preventDefault();
                                e.stopPropagation();
                            },
                            true
                        );
                    }
                });
            },
            exam_history: function () {
                this.$http({
                    method: "get",
                    url:
                        this.base_url +
                        "/api/v1/exam/response/user/" +
                        this.$store.state.user.id +
                        "/?max=1",

                    auth: {
                        username: "l360_mobile_app",
                        password: "itsd321#"
                    }
                })
                    .then(res => {
                        this.exam_data = res.data.exams;
                    })
                    .catch(err => {
                        swal({text: err.response, type: "error"});
                    });
            }
        },

        props: ["pageStack"]
    };
</script>


<style scoped>
    .style {
        margin: auto;
        width: 90%;
        height: 100%;
    }

    .names {
        height: 80%;
    }

    .name {
        font-size: 30px;
        margin-left: 30px;
    }

    .list {
        width: 44%;
        height: 162px;
        float: left;
        overflow: hidden;
        margin-right: 3%;
        margin-bottom: 3%;
        border-radius: 14px;
        padding: 3% 6% 5% 5%;
        margin-top: 16px;
        position: relative;
    }

    .signin_button {
        font-size: 10px;
        /* font-weight: 500; */
        /* line-height: 17px; */
        padding: 2% 0%;
        display: block;
        text-align: center;
        background-color: #4287b1;
        font-family: "Rubik", sans-serif;
        border-radius: 38px;
        /* border-color: #fe4701; */
        color: #dbd8d7;
        border: none;
        width: 34%;
        outline: 0;
        float: left;
        margin-right: 1%;
    }

    .signin_button_2 {
        font-size: 12px;
        /* font-weight: 500; */
        /* line-height: 17px; */
        padding: 2% 2%;
        display: block;
        text-align: center;
        background-color: #ffffff;
        font-family: "Rubik", sans-serif;
        border-radius: 38px;
        /* border-color: #fe4701; */
        color: #1f3c52;
        border: none;
        width: 31%;
        outline: 0;
        float: left;
        margin-right: 2%;
    }

    .signin_button_2:hover {
        background-color: #1f3c52;
        color: #ffffff;
    }

    .text {
        float: right !important;
        margin-top: 20px;
    }

    .progress-bar__primary,
    .progress-bar__secondary {
        position: absolute;
        background-color: #009688;
        top: 0;
        bottom: 0;
        transition: width 0.3s linear;
        z-index: 100;
        border-radius: 4px;
    }

    .progress-bar {
        width: 60%;
        float: left;
    }

    .m {
        font-size: 12px;
        float: right;
        margin: auto;
    }

    .s {
        width: 100%;
    }

    .buttons {
        margin-top: 70px;
    }

    .fa.icon1 {
        float: right !important;
        transform: rotate(90deg);
        font-size: 16px;
    }

    .progress-bar--material__primary,
    .progress-bar--material__secondary {
        width: 70% !important;
        float: left;
        background-color: #1b6c3b !important;
    }

    .progress {
        width: 70%;
        margin-top: 24px;
        float: left;
        background-color: rgba(160, 160, 167, 0.51);
    }

    .bar {
        height: 2px;
    }

    .progress_percent {
        position: absolute;
        bottom: 0;
        left: 12%;
        width: 80%;
        margin: auto;
    }

    .subject {
        font-size: 12px;
    }

    .dash {
        padding-bottom: 183px;
    }

    ons-progress-bar[hidden] {
        display: none;
    }

    .bar2 {
        background-color: yellow;
    }

    .bar3 {
        background-color: #ff8462;
    }
</style>