<template>
    <v-ons-page>
        <div class="test_body">
            <v-ons-toolbar>
                <div class="left">
                    <div class="close" @click="close_preview">Close
                    </div>

                </div>
                <div class="center">
                    <div class="timer_top2">{{this.$store.state.time.duration}} Minutes Exam
                    </div>
                </div>

                <div class="right">
                    <div class="report" style="margin-right: 12px; font-size: 14px;" @click="dialogVisible = true">
                        Report
                    </div>
                </div>

            </v-ons-toolbar>

            <div v-if="ques_index < results.length">


                <div class="test_div" v-for="(result,index) in  results">

                    <div v-show="index === ques_index">

                        <div class="status" v-if="result.question_status=== 'skipped'" style="color: #1c2e62;">
                            Skipped
                        </div>

                        <div class="status"
                             v-else-if="result.question_status=== 'answered' && result.is_correct === true"
                             style="color: green;"><i class="fa fa-check-circle"></i> Correct
                            Answer
                        </div>
                        <div class="status"
                             v-else-if="result.question_status=== 'answered' && result.is_correct === false"
                             style="color: red;"><i class="fa fa-times-circle"></i> Wrong Answer
                        </div>
                        <div class="status" v-else style="color: #1c2e62;"> Unfaced</div>


                        <div class="title" align="center">


                            <p align="center" class="test_text"> {{ result.question_text }} </p>
                        </div>
                        <div class="content">
                            <div align="center" id="donate">

                                <ul align="center">
                                    <li v-for="(choice) in result.choices">
                                        <label :for="choice.choice_id" class="yellow">
                                            <input class="button_none" type="radio"
                                                   :value="choice.is_right + '_' + choice.choice_id" :name="index"
                                                   :id="choice.choice_id" disabled/>
                                            <!--<span v-if="result.selected_choice === choice.choice_id && result.is_correct === false " :class="{red_label:active}">  </span>-->
                                            <span v-if="choice.is_right === true" :class="{green_label:active}">

                                                {{ choice.choice_text }}
                                     </span>
                                            <span v-if="result.selected_choice === choice.choice_id && result.is_correct === false "
                                                  :class="{red_label:active}">
                                                 {{ choice.choice_text }}
                                            </span>
                                            <span v-if="choice.is_right === false && result.selected_choice !== choice.choice_id">  {{ choice.choice_text }}</span>
                                        </label>
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <v-ons-dialog
                    cancelable
                    :visible.sync="dialogVisible"
            >
                <form align="center" v-on:submit.prevent="add_report">
                    <div>
                        <v-ons-list>
                            <v-ons-list-item v-for="(option, $index) in options" :key="option" tappable>
                                <label class="left">
                                    <v-ons-radio
                                            :input-id="'radio-' + $index"
                                            :value="option"
                                            v-model=" selectedOption"
                                    >
                                    </v-ons-radio>
                                </label>
                                <label :for="'radio-' + $index" class="center">
                                    {{ option }}
                                </label>
                            </v-ons-list-item>

                        </v-ons-list>
                        <div class="pass_button" align="center">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>


            </v-ons-dialog>
            <footer>
                <div class="footer_test">
                    <div v-if="ques_index === 0" class="timers" @click="prev()" v-bind:style="{visibility:visible}">
                        Previous
                    </div>
                    <div v-else-if="ques_index !== 0" class="timers" @click="prev()">Previous
                    </div>

                    <div class="index2">

                        {{ques_index+1}} / {{results.length}}
                    </div>

                    <div class="next_button_2" @click="next()">
                        Next
                    </div>
                </div>
            </footer>
        </div>

    </v-ons-page>
</template>
<script>
    import swal from "sweetalert2";

    export default {
        data() {
            return {
                ques_index: 0,
                results: [],
                is_back_button: true,
                active: true,
                dialogVisible: false,
                options: [
                    "This is an old question",
                    "Your correct answer is wrong",
                    "No correct answer listed here",
                    "Confusing answers",
                    "Multiple correct answers are here",
                    "Other"
                ],
                selectedOption: "",
                visible: "hidden"
            };
        },
        created() {
            this.get_details_result();
        },
        methods: {
            next() {
                this.ques_index++;
                if (this.ques_index === this.results.length) {
                    // var length = this.pageStack.length;
                    // this.pageStack.splice(0, length);
                    //this.pageStack.push(dashboard);
                    this.page = this.pageStack.length;
                    // for (this.i = 1; this.i < this.page; this.i++) {
                    this.pageStack.pop();
                    // }
                }
            },
            close_preview: function () {
                this.page = this.pageStack.length;
                // for (this.i = 1; this.i < this.page; this.i++) {
                this.pageStack.pop();
            },
            prev() {
                this.ques_index--;
            },

            get_details_result: function () {
                this.$http({
                    method: "get",
                    url:
                        this.base_url +
                        "/api/v1/exam/exam/" +
                        this.$store.state.exam.exam_id +
                        "/",
                    auth: {
                        username: "l360_mobile_app",
                        password: "itsd321#"
                    }
                })
                    .then(res => {
                        this.results = res.data.questions;
                        console.log(this.results);
                    })
                    .catch(err => {
                        swal({text: err, type: "error"});
                    });
            },
            add_report: function () {
                this.$http({
                    method: "post",
                    url:
                        this.base_url +
                        "/api/v1/question/report/question/" +
                        this.results[this.ques_index].question_id +
                        "/",

                    auth: {
                        username: "l360_mobile_app",
                        password: "itsd321#"
                    },
                    data: {
                        report: this.selectedOption
                    }
                }).then(res => {
                    if (res.status === 201) {
                        console.log(res.status);
                        this.selectedOption = "";
                        this.dialogVisible = false;
                    }
                });
            }
        },
        props: ["pageStack"]
    };
</script>
<style>
    .green_label {
        border: green 3px solid;
    }

    .red_label {
        border: red 3px solid;
    }

    .status {
        font-size: 20px;
        text-align: center;
    }

    .timers {
        float: left;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #1b2e63;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: center;
        width: 43%;
        height: 33px;
        margin-top: 20px;
        border-right: 1px solid #fff;
    }

    .next_button_2 {
        color: #1b2e63;
        width: 30%;
        font-size: 16px;
        float: right;
        margin-top: 20px;
    }

    .timer_top2 {
        font-size: 19px;
        color: #1b2e63 !important;
    }

    .close {
        margin-left: 12px;
        font-size: 14px;
    }
</style>