<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <div class="home" @click="dash()"><i class="fa fa-arrow-left"
                                                     style="color:#1b2e63;font-size: 15px;"></i></div>
            </div>
            <div class="center">
                <div class="details_name" style="color:#1b2e63;"><strong>{{this.$store.state.user.name}} </strong></div>
            </div>
            <!--<div class="right">-->
            <!--<i class="fa fa-window-close" aria-hidden="true" style="color:#1b2e63; margin-right:10px;" @click="back"></i>-->
            <!--</div>-->
            <div class="right">

            </div>
        </v-ons-toolbar>


        <diagram class="diagram"></diagram>


        <div class="topic_list" v-show="topics.length !== 0">
            <div class="topic_head">
                <div class="topic_heading">Topic</div>
                <div class="score_list_head"> Score</div>
            </div>
            <div v-for="topic in topics" class="lists">

                <div class="topic">{{topic.topic}}</div>
                <div class="score_list"> {{topic.score}} %</div>

            </div>

        </div>


        <v-ons-bottom-toolbar id="bottom ">
            <div class="footer_test2">
                <div class="Exam2" @click="test_page">
                    <v-ons-icon icon="md-time" size="20px" style="color:#1b2e63;"></v-ons-icon>
                    Exam
                </div>
                <!-- <div class="article2" @click="articles"><i class="fa fa-file"></i>Article</div> -->
                <div class="settings2" @click="setting"><i class="fa fa-cog"></i></div>

            </div>
        </v-ons-bottom-toolbar>

    </v-ons-page>
</template>
<script>
    import diagram from "component/diagram";
    import timers from "./timers";
    import settings from "./settings";
    import wordpress from "./wordpress";
    import swal from "sweetalert2";

    export default {
        data: function () {
            return {
                topics: [],
                value: this.$store.state.user_performance_days.day
            };
        },
        components: {diagram},

        created() {
            this.getscore(this.value);
        },
        mounted() {
            this.$ons.ready(() => {
                this.$ons.disableDeviceBackButtonHandler();
                document.addEventListener(
                    "backbutton",
                    e => {
                        e.preventDefault();
                        e.stopPropagation();
                    },
                    true
                );
            });
        },
        methods: {
            getscore(val) {
                if (val == "") {
                    val = 0;
                }
                this.$http({
                    method: "get",
                    url:
                        this.base_url +
                        this.performance_api +
                        this.$store.state.user.id +
                        "/subject/" +
                        this.$store.state.individual_subject.subject_id_click +
                        "/" +
                        "?days=" +
                        val,
                    auth: {
                        username: "l360_mobile_app",
                        password: "itsd321#"
                    }
                })
                    .then(res => {
                        this.topics = res.data.topics;
                    })
                    .catch(err => {
                        swal({text: err.response, type: "error"});
                    });
            },
            dash: function () {
                this.pageStack.pop();
            },

            test_page: function () {
                this.pageStack.push(timers);
            },
            setting: function () {
                this.pageStack.push(settings);
            },
            articles: function () {
                this.pageStack.push(wordpress);
            }
            // back: function() {
            //   this.$ons.ready(() => {
            //     this.$ons.notification
            //       .confirm("Do you want to close the app?") // Ask for confirmation
            //       .then(function(index) {
            //         if (index === 1) {
            //           // OK button
            //           navigator.app.exitApp(); // Close the app
            //         }
            //       });
            //   });
            // }
        },
        props: ["pageStack"]
    };
</script>