<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <div class="home" @click="dash()"><i class="fa fa-arrow-left"
                                                     style="color:#1b2e63;font-size: 15px;"></i></div>
            </div>
            <div class="center">
                <div class="details_name" style="color:#1b2e63;">Exam History</div>
            </div>
            <!--<div class="right">-->
            <!--<i class="fa fa-window-close" aria-hidden="true" style="color:#1b2e63; margin-right:10px;" @click="back"></i>-->
            <!--</div>-->
            <div class="right">

            </div>
        </v-ons-toolbar>

        <div class="exam_details">

            <div v-for="exam in exam_history">
                <div class="exam_score" v-if="exam.ended_at !== null">
                    <div class="exam_text">
                        {{exam.exam_type}}

                        <span style=" font-size: 9px;
    float: right;
    margin-right: 23px;
    margin-top: 4px;">{{ moment(exam.ended_at).fromNow()}}</span>
                        <p style="font-size: 9px;">{{exam.name}} </p>
                        <div style="font-size: 9px;
    width: 70px;     float: left;"> Correct ans: {{exam.ans_right}}
                        </div>
                        <div style="font-size: 9px;
    width: 61px;     float: left;"> Wrong ans: {{exam.ans_wrong}}
                        </div>
                        <div style="font-size: 9px;
    width: 65px;
    float: right;"> Skip: {{exam.question_skipped}}
                        </div>

                        <!--<div style="font-size: 9px;  width: 56px;-->
                        <!--float: right;"> Skip: {{value.correct}}</div>-->

                    </div>
                    <div class="score_right">
                        <div class="score_value" v-if="exam.mark_received >=10"> {{exam.mark_received}}</div>
                        <div class="score_value" v-else> 0{{exam.mark_received}}</div>
                        <p class="score_txt">Your Score </p>
                    </div>

                </div>


            </div>

        </div>

    </v-ons-page>

</template>
<script>
    import momentsago from "./component/momentsago";
    import swal from "sweetalert2";
    import dashboard from "./dashboard";

    export default {
        components: {
            momentsago
        },
        data: function () {
            return {
                exam_history: []
            };
        },
        mounted() {
            this.get_exam_history();
        },
        methods: {
            dash: function () {
                this.pageStack.pop();
                // this.pageStack.push(dashboard);
            },
            get_exam_history: function () {
                this.$http({
                    method: "get",
                    url:
                        this.base_url +
                        "/api/v1/exam/response/user/" +
                        this.$store.state.user.id +
                        "/?max=20",
                    auth: {
                        username: "l360_mobile_app",
                        password: "itsd321#"
                    }
                })
                    .then(res => {
                        this.exam_history = res.data.exams;
                        console.log(res.data);
                    })
                    .catch(err => {
                        swal({text: err, type: "error"});
                    });
            }
        },
        props: ["pageStack"]
    };
</script>
<style>
    .moment {
        font-size: 9px;
        float: right;
        margin-right: 18px;
    }
</style>