<template>
    <v-ons-page>

        <div class="update_profile">

            <v-ons-toolbar>
                <div class="left">
                    <div class="back_to" @click="back_to"><i class="fa fa-arrow-left"></i></div>
                </div>

                <div class="center">
                    <div class="update_top">Update Profile
                    </div>
                </div>


                <div class="right">
                    <v-ons-toolbar-button>
                        <i class="fa fa-power-off" aria-hidden="true" style="color:#1b2e63" @click="logout()"></i>
                    </v-ons-toolbar-button>
                </div>

            </v-ons-toolbar>
            <div classs="setting_forms">
                <form v-on:submit.prevent="settings">


                    <div class="signup_form_item">
                        <div class="form-item">
                            <div class="form_icon">
                                <i class="zmdi zmdi-account-o icons form_icon_i "></i></div>
                            <div>
                                <v-ons-input float type="text" id="input_width" modifier="material" placeholder="Name"
                                             v-model="new_name"
                                ></v-ons-input>
                            </div>
                        </div>
                    </div>


                    <!--<div class="form_item">-->
                    <!--<div class="form_icon">-->
                    <!--<i class="fa fa-phone icons form_icon_i form_icon_mobile" aria-hidden="true"></i></div>-->
                    <!--<div class="input_text">-->
                    <!--<v-ons-input id="input_width" float type="text" modifier="material" placeholder="Mobile"-->
                    <!--v-model="new_mobile"></v-ons-input>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="form_item">
                        <div class="form_icon">
                            <v-ons-icon size="20px" style="color:#207FC1" icon="md-email"
                                        class="form_icon_i signup-page-font-color"></v-ons-icon>
                        </div>
                        <div class="input_text">
                            <v-ons-input id="input_width" float type="text" modifier="material" placeholder="Email"
                                         v-model="new_email"></v-ons-input>
                        </div>
                    </div>

                    <div class="signup_form_item">
                        <div class="form_icon">
                            <v-ons-icon size="20px" icon="md-male-female"
                                        class="signup-page-font-color icons form_icon_i"></v-ons-icon>
                        </div>
                        <div>
                            <v-ons-select style="width: 60%"
                                          v-model="new_gender"
                            >
                                <option v-for="item in items" :value="item.value">
                                    {{ item.text }}
                                </option>
                            </v-ons-select>

                        </div>
                    </div>

                    <div class="form_item">
                        <div class="form_icon"><i class="zmdi zmdi-lock-outline icons form_icon_i "></i></div>
                        <div class="input_text">
                            <v-ons-input id="input_width" float type="password" modifier="material"
                                         placeholder="Password"
                                         v-model="pass1"></v-ons-input>
                        </div>
                    </div>
                    <div class="form_item">
                        <div class="form_icon"><i class="zmdi zmdi-lock-outline icons form_icon_i "></i></div>
                        <div class="input_text">
                            <v-ons-input id="input_width" float type="password" modifier="material"
                                         placeholder="Re-Password"
                                         v-model="pass2"></v-ons-input>
                        </div>
                    </div>


                    <div class="pass_button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </v-ons-page>
</template>
<script>
    import login from "./LogIn";
    import Swal from "sweetalert2";

    export default {
        data: function () {
            return {
                new_name: this.$store.state.user.name,
                new_mobile: this.$store.state.user.mobile,
                new_gender: this.$store.state.user.gender,
                new_birthday: null,
                new_email: this.$store.state.user.email,
                new_pass: "",
                pass1: "",
                pass2: "",
                items: [
                    {text: "Select Gender", value: ""},
                    {text: "Male", value: "male"},
                    {text: "Female", value: "female"}
                ]
            };
        },
        mounted() {
            this.$ons.ready(() => {
                this.$ons.disableDeviceBackButtonHandler();
                document.addEventListener(
                    "backbutton",
                    e => {
                        e.preventDefault();
                        e.stopPropagation();
                    },
                    true
                );
            });
        },
        methods: {
            settings() {
                if (this.pass1 === this.pass2) {
                    this.new_pass = this.pass1;
                    this.$http({
                        method: "put",
                        url:
                            this.base_url +
                            this.update_profile_api +
                            this.$store.state.user.mobile +
                            "/",
                        auth: {
                            username: "l360_mobile_app",
                            password: "itsd321#"
                        },
                        data: {
                            mobile: this.new_mobile,
                            gender: this.new_gender,
                            email: this.new_email,
                            name: this.new_name,
                            fb_id: null,
                            birthday: null,
                            password: this.new_pass
                        }
                    }).then(res => {
                        console.log(res);
                        if (res.status === 200) {
                            var user = {
                                id: res.data.id,
                                name: res.data.name,
                                birthday: res.data.birthday,
                                email: res.data.email,
                                fb_id: res.data.fb_id,
                                gender: res.data.gender,
                                mobile: res.data.mobile
                            };

                            var info = {
                                mobile: res.data.mobile,
                                pass: this.new_pass
                            };
                            if (
                                this.new_pass !== ""
                            //&& this.mobile !== this.$store.state.user.mobile
                            ) {
                                localStorage.setItem("keys", JSON.stringify(info));
                                const val = JSON.parse(localStorage.getItem("keys"));
                            }
                            //console.log(val);
                            this.mobile = "";
                            this.pass = "";
                            //console.log(user);
                            this.$store.commit("setUser", user);
                            //console.log(this.$store.state.user);

                            Swal({
                                //
                                text: "Profile Updated",
                                type: "success"
                            });
                            this.pageStack.pop();
                        }
                    });
                } else if (this.pass1 !== "" && this.pass2 === "") {
                    Swal({
                        text: "Please retype password",
                        type: "warning"
                    });
                } else if (this.pass1 === "" && this.pass2 !== "") {
                    Swal({
                        text: "Please enter a password",
                        type: "warning"
                    });
                } else {
                    Swal({
                        text: "Password did not match",
                        type: "warning"
                    });
                }
            },

            logout: function () {

                Swal({
                    title: "Are you sure?",
                    text: "This will take you out of this app!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes!",
                    cancelButtonText: "No!"
                }).then(result => {
                    if (result.value) {
                        localStorage.clear();
                        Swal({
                            text: "Logged Out Successfully",
                            type: "success"
                        });
                        var length = this.pageStack.length;
                        this.pageStack.splice(0, length);
                        this.check();
                        // For more information about handling dismissals please visit
                        // https://sweetalert2.github.io/#handling-dismissals
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });


            },
            back_to: function () {
                this.pageStack.pop();
            }
        },
        props: ["pageStack"]
    };
</script>
<style scoped>
    .update_profile {
        margin-top: 80px;
    }
</style>
