<template>
    <v-ons-page name="test">
        <!--    Test page starts   -->

        <div class="test_body">
            <v-ons-toolbar>
                <div class="left">
                    <div class="timer_top">{{this.$store.state.time.duration}} Minutes Exam
                    </div>
                </div>
                <div class="right " @click="exit()" v-if="ques_index < questions.length">
                    <div class="quit_exam">
                        <!--<div class="timer_top">{{this.$store.state.time.duration}} Minutes Exam-->
                        <!--</div>-->
                        Quit
                    </div>
                </div>

            </v-ons-toolbar>
            <div v-if="ques_index < questions.length">

                <div class="test_div" v-for="(ques,index) in  questions">
                    <div v-show="index === ques_index">
                        <div class="title" align="center">

                            <p align="center" class="test_text"> {{ ques.question_text }} </p>
                        </div>
                        <div class="content">
                            <div align="center" id="donate">

                                <ul align="center">
                                    <li v-for="(choice) in ques.choices">
                                        <label :for="choice.choice_id" class="yellow">
                                            <input class="button_none" type="radio"
                                                   :value="choice.is_right + '_' + choice.choice_id" :name="index"
                                                   @change="go_next()" v-model=" user_responses[index]"
                                                   :id="choice.choice_id"/>
                                            <span>
                                                {{ choice.choice_text }}
                                            </span>
                                        </label>
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div v-if="ques_index === questions.length">
                <div class="score">
                    <div class="score_div">
                        <i class="fa fa-trophy"></i>
                        <div class="test_txt_1">
                            <h2 class="score_head">
                                Congratulations!
                            </h2>
                        </div>
                        <div class="test_txt_2">
                            <h3 class="score_text">You Just Completed a Test</h3>
                        </div>
                        <v-ons-card class="score_card">
                            <p class="sc_text"> Score </p>
                            <div class="scores">
                                <div class="score_divs">

                                    <p class="score_test" v-if=" this.score<=99" style="display:inline">{{score}}</p>
                                    <p v-else class="score_test_2">{{score}}</p>
                                    <p class="score_test2" style="display:inline"> / {{ questions.length }}
                                    </p></div>
                            </div>
                            <div class="motivated_text">
                                <p> Keep Trying !!!! </p>
                            </div>
                        </v-ons-card>
                    </div>
                    <div class="footers">

                        <!-- <p class="footer1" @click="aricles">Read More Article</p> -->
                        <!-- TODO: Why somewhere calling a function and somewhere passing reference ?? Why not consistent ?? -->

                        <p class="footer1" @click="result_details()">Exam Details</p>
                        <p class="footer1" @click="timer()">Take Another Exam</p>
                    </div>
                    <v-ons-bottom-toolbar id="bottom ">
                        <div class="footer_test2" @click="home_page()">
                            <div class="Exams">
                                <i class="fa fa-home"></i>
                                Home
                            </div>
                        </div>
                    </v-ons-bottom-toolbar>

                </div>
            </div>
            <footer>
                <div class="footer_test" v-if="questions.length > ques_index">

                    <!--<div align="center" class="timer" v-if="!timeStop">-->
                    <div align="center" class="timer">
                        <i class="ion-ios-clock"></i>
                        <div class="minutes" v-html="minutes"></div>
                        <div class="seconds" id="seconds" v-html="secondsShown"></div>
                        <div class="index">

                            {{ques_index+1}} / {{questions.length}}

                        </div>

                    </div>
                    <!--<div align="center" class="timer" v-else>-->
                    <!--<i class="ion-ios-clock"></i>-->
                    <!--<div class="minutes" v-html="minutes"></div>-->
                    <!--<div class="seconds" v-html="secondsShown"></div>-->

                    <!--</div>-->


                    <div v-if="questions.length > ques_index" class="timer_button">

                        <div class="next_button" @click="next()">
                            Skip
                        </div>
                    </div>

                </div>

            </footer>
        </div>

        <!--   Test page  ends  -->

    </v-ons-page>
</template>
<script>
    import wordpress from "./wordpress";
    import dashboard from "./dashboard";
    import details_result from "./details_result";
    import moment from 'moment'
    import momentsago from './component/momentsago';
    import swal from 'sweetalert2';

    export default {
        components: {
            momentsago

        },
        data() {
            return {
                minutes: this.$store.state.time.duration,
                seconds: 0,
                interval: null,
                started: true,
                ques_index: 0,
                questions: this.$store.state.exam.questions,
                user_responses: Array(this.$store.state.exam.questions.length),
                c: 0,
                count: 0,
                answered: 0,
                question_response: [],
                is_back_button: true,
                right: 0,
                wrong: 0,
                started_at: null,
                ended_at: null,
                counter:0
            };
        },

        beforeMount() {
            for (var i = 0; i < this.user_responses.length; i++) {
                this.user_responses[i] = "null";
            }
        },
        mounted() {
            this.started_at = moment(new Date()).format();
            this.loaded();
            this.back_button();
            //this.exam_result();


        },
        updated() {
           this.timer_off();

            this.exam_result();
            //this.back();
        },
        methods: {
            //  Result is sent to the server after the test is completed

            exam_result() {

                if (this.ques_index === this.questions.length && this.counter === 0) {
                
                	this.counter++;

                    this.correct();
                    var time_now = new Date();
                    console.log(time_now.getTime());

                    this.ended_at = moment(new Date()).format();
                    this.$http({
                        method: "post",
                        url:
                            this.base_url +
                            this.exam_result_api +
                            this.$store.state.user.id +
                            "/",

                        auth: {
                            username: "l360_mobile_app",
                            password: "itsd321#"
                        },
                        data: {
                            user_id: this.$store.state.user.id,
                            exam_id: this.$store.state.exam.exam_id,
                            started_at: this.started_at,
                            ended_at: this.ended_at,
                            question_answered: this.answered,
                            ans_right: this.right,
                            ans_wrong: this.wrong,
                            mark_received: this.right,
                            questions: this.question_response
                        }
                    })
                        .then(res => {
                            console.log(res);

                        })
                        .catch(err => {
                            swal({text: err, type: "error"});

                        });
                    // this.pageStack.pop();
                
                }
            },
            back: function () {
                this.$ons.ready(() => {
                    this.$ons.notification
                        .confirm("Do you want to close the app?") // Ask for confirmation
                        .then(function (index) {
                            if (index === 1) {
                                // OK button
                                navigator.app.exitApp(); // Close the app
                            }
                        });
                });
            },

            //  Function for going to the next question

            next() {

                this.user_responses[this.ques_index] = "skipped";
                this.ques_index++;

            },

            //  Function for going to the previous question

            prev() {
                this.ques_index--;
                this.progress--;
            },
            aricles: function () {
                this.pageStack.push(wordpress);
            },
            result_details: function () {
                this.pageStack.push(details_result);
            },

            loaded() {
                var that = this;
                that.interval = setInterval(that.interval_callback.bind(that), 1000);
            },
            interval_callback() {
                if (!this.started) return false;
                if (this.seconds === 0) {
                    if (this.minutes === 0) {
                        return null;
                    }
                    this.seconds = 59;
                    this.minutes--;
                } else {
                    this.seconds--;
                }
            },

            //      Functions control the timer ends

            //      Function to check if the ans is correct

            correct: function () {

                for (var i = 0; i < this.questions.length; i++) {

                    var that = this;

                    var object = {question_id: "", choice_id: "", status: ""};

                    object.question_id = that.questions[i].question_id;

                    if (that.user_responses[i] === "skipped") {
                        object.choice_id = null;
                        object.status = "skipped";
                    }
                    else if (that.user_responses[i] === "null") {
                        object.choice_id = null;
                        object.status = "unfaced";
                    }
                    else {

                        var length = that.user_responses[i].length;
                        var index = that.user_responses[i].indexOf("_");

                        object.status = "answered";
                        object.choice_id = that.user_responses[i].substring(index + 1, length);

                    }

                    that.question_response.push(object);

                }

                that.right = that.user_responses.filter(ur => ur[0] === "t").length;
                that.wrong = that.user_responses.filter(ur => ur[0] === "f").length;
                that.answered = that.user_responses.filter(ur => ur[0] === "t" || ur[0] === "f").length;


                return;
            },
            go_next: function () {

                var that = this;
                setTimeout(function () {
                    if (that.ques_index < that.questions.length && that.user_responses[that.ques_index] !== "null") {
                        that.ques_index++;
                    }

                }, 500)

            },
            timer_off: function () {
                if (this.minutes === 0 && this.seconds === 0) {
                    if (this.ques_index < this.questions.length && this.user_responses[this.ques_index] === "null") {
                        this.user_responses[this.ques_index] = "skipped";

                    }
                    this.ques_index = this.questions.length;

                }

            },

            timer: function () {
                this.pageStack.pop();
            },

            //  Function fo going to dashboard

            home_page: function () {

                this.home_to();
            },

            back_button: function () {
                this.$ons.ready(() => {
                    if (this.is_back_button) {
                        //console.log('in test page');
                        this.$ons.disableDeviceBackButtonHandler();

                        document.addEventListener(
                            "backbutton",
                            e => {
                                e.preventDefault();
                                e.stopPropagation();
                            },
                            true
                        );
                    }

                });
            },
            exit: function () {
                // var length = this.pageStack.length;
                // this.pageStack.splice(0, length);
                // console.log(this.pageStack.length);
                // this.pageStack.push(dashboard);
                swal({
                    title: "Are you sure?",
                    text: "Your exam won't be considered if you leave",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                })
                    .then((result) => {
                        if (result.value) {

                            this.page = this.pageStack.length;
                            for (this.i = 1; this.i < this.page; this.i++) {
                                this.pageStack.pop();
                            }

                        }
                        else if (result.dismiss === Swal.DismissReason.cancel) {
                            swal.close();
                        }
                    })
            }
        },
        computed: {
            secondsShown: function () {
                if (this.seconds < 10) {
                    return "0" + parseInt(this.seconds, 10);
                }

                return this.seconds;
            },

            //  Function to check if timer is 0:00

            timeStop: function () {
                if (this.ques_index === this.questions.length) {
                    this.started = false;
                    return true;
                }
                return false;
            },

            //  Function to count the number of correct ans

            score: function () {
                this.c = this.user_responses.filter(val => val[0] === "t").length;
                if (this.c < 10) {
                    return "0" + this.c;
                }

                return this.c;
            }
        },
        props: ["pageStack"]
    };
</script>
<style>
    .quit_exam {
        font-size: 13px;
        /* padding: 0px 5px 3px 30px; */
        color: #1b2e63 !important;
        margin-right: 28px;
    }
</style>
