<template>
    <v-ons-page class="test_background">
        <!--    Div for going to Home Button Starts -->
        <v-ons-toolbar>
            <div class="left">
                <div class="timer_top">Select Your Exam</div>
            </div>

            <!--<div class="right">-->

            <!--<i class="fa fa-window-close" aria-hidden="true" style="color:#1b2e63; margin-right:10px;" @click="back"></i>-->

            <!--</div>-->


        </v-ons-toolbar>
        <!--    Div for going to Home Button Ends -->


        <!--       Choice of  Timers Starts   -->
        <div class="timer_div">
            <v-ons-row>

                <v-ons-card class="test">
                    <div @click="question(5)">
                        <v-ons-icon icon="md-time" size="35px" style="color:#1b2e63"></v-ons-icon>
                        <p class="time"><strong>05</strong></p>
                        <p align="center" class="min_text ">Minutes Exam</p>
                    </div>
                </v-ons-card>


                <v-ons-card class="test">
                    <div @click="question(15)">
                        <v-ons-icon icon="md-time" size="35px" style="color:#1b2e63"></v-ons-icon>
                        <p class="time"><strong>15 </strong></p>
                        <p align="center" class="min_text ">Minutes Exam</p>
                    </div>

                </v-ons-card>

            </v-ons-row>


            <v-ons-row>

                <v-ons-card class="test">
                    <div @click="question(30)">
                        <v-ons-icon icon="md-time" size="35px" style="color:#1b2e63"></v-ons-icon>
                        <p class="time"><strong>30</strong></p>
                        <p align="center" class="min_text">Minutes Exam</p>
                    </div>
                </v-ons-card>


                <v-ons-card class="test">
                    <div @click="question(60)">
                        <v-ons-icon icon="md-time" size="35px" style="color:#1b2e63"></v-ons-icon>
                        <p class="time"><strong>60</strong></p>
                        <p align="center" class="min_text ">Minutes Exam</p>
                    </div>
                </v-ons-card>


            </v-ons-row>
        </div>

        <!--       Choice of  Timers  Ends  -->

        <v-ons-bottom-toolbar>
            <div>
                <div class="Exam" @click="dash()"><i class="fa fa-home"></i>Home</div>
                <!-- <div class="article" @click="aricles"><i class="fa fa-file"></i>Article</div> -->
                <div class="settings" @click="setting"><i class="fa fa-cog"></i></div>

            </div>
        </v-ons-bottom-toolbar>


    </v-ons-page>
</template>
<script>
    import test from "./test";
    import settings from "./settings";
    import wordpress from "./wordpress";

    export default {
        data() {
            return {
                minutes: 0,
                questions: []
            };
        },

        updated() {
            this.question(timer);
        },
        mounted() {
            this.$ons.ready(() => {
                this.$ons.disableDeviceBackButtonHandler();
                document.addEventListener("backbutton", e => {
                        e.preventDefault();
                        e.stopPropagation();
                    },
                    true
                );
            });
        },
        methods: {
            incomplete: function () {
                var val = JSON.parse(localStorage.getItem("ke"));
                console.log(val + "hh");
                if (val === undefined || val === null) {
                    alert("no pending");
                } else {
                    this.pageStack.push(test);
                    localStorage.removeItem("ke");
                }
            },
            setting: function () {
                this.pageStack.push(settings);
            },
            aricles: function () {
                this.pageStack.push(wordpress);
            },
            back: function () {
                this.$ons.ready(() => {
                    this.$ons.notification
                        .confirm("Do you want to close the app?") // Ask for confirmation
                        .then(function (index) {
                            if (index === 1) {
                                // OK button
                                navigator.app.exitApp(); // Close the app
                            }
                        });
                });
            },

            //  Function for going to dashboard

            dash: function () {
                this.home_to();

            }
        },
        props: ["pageStack"]
    };
</script>