<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
            </div>
            <div class="center">
                <div class="article_list_title"> Article Lists
                </div>
            </div>
            <!--<div class="right">-->
            <!--<v-ons-toolbar-button>-->
            <!--<i class="fa fa-window-close" aria-hidden="true" style="color:#1b2e63; margin-right:10px;" @click="back"></i>-->
            <!---->
            <!--</v-ons-toolbar-button>-->
            <!--</div>-->
        </v-ons-toolbar>

        <div class="articles">

            <div v-for="(article,index) in articles">
                <div class="dash_dot_icon">
                    <i class="fa icon2 fa-ellipsis-h"></i>
                </div>
                <div class="art_list" @click="single_article(article.wp_id, article.link)">
                    <!-- <strong> {{index}}  {{article.title}}  </strong> -->
                    <strong>{{article.title}}</strong>
                </div>

            </div>
        </div>


        <v-ons-bottom-toolbar id="bottom ">
            <div class="footer_test2">
                <div class="Exam3" @click="home">
                    <i class="fa fa-home"></i>
                    Home
                </div>
                <!-- <div class="article2" > <i class="fa fa-home"></i></div> -->
                <div class="settings3" @click="setting"><i class="fa fa-cog"></i></div>

            </div>
        </v-ons-bottom-toolbar>
    </v-ons-page>
</template>

<script>
    import article_details from "./article_details";
    import settings from "./settings";
    import timers from "./timers";

    export default {
        data: function () {
            return {
                articles: [],
                isExpanded: false
            };
        },
        mounted() {
            this.article_list();
            this.$ons.ready(() => {
                this.$ons.enableDeviceBackButtonHandler();
            });
        },
        methods: {
            article_list() {
                this.$http({
                    method: "get",
                    url: this.base_url + this.article_api,

                    auth: {
                        username: "l360_mobile_app",
                        password: "itsd321#"
                    }
                })
                    .then(res => {
                        console.log(res);
                        this.articles = res.data;
                        console.log(this.articles);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            single_article: function (ids, link) {
                var article_fetch = {
                    articleId: ids,
                    article_link: link
                };
                this.$store.commit("getArticle", article_fetch);
                console.log(this.$store.state.article_fetch);
                this.pageStack.push(article_details);
            },
            test_page: function () {
                this.pageStack.push(timers);
            },
            setting: function () {
                this.pageStack.push(settings);
            },
            home: function () {
                // this.page = this.pageStack.length;
                // for (this.i = 1; this.i < this.page; this.i++) {
                //   this.pageStack.pop();
                // }
                this.home_to();
            },
            back: function () {
                this.$ons.ready(() => {
                    this.$ons.notification
                        .confirm("Do you want to close the app?") // Ask for confirmation
                        .then(function (index) {
                            if (index === 1) {
                                // OK button
                                navigator.app.exitApp(); // Close the app
                            }
                        });
                });
            }
        },
        props: ["pageStack"]
    };
</script>
<style>
    .articles {
        width: 80%;
        margin: auto;
        background: white;
        border-radius: 5px;
        border: 1px solid #ffffff;
        font-size: 15px;
        margin-top: 31px;
        color: #1b2e63;
    }

    .article_list_title {
        color: #1b2e63;
        font-size: 30px;
    }

    .art_list {
        border-bottom: 1px solid #e4e1e0;
        line-height: 18px;
        height: 71px;
        margin-top: 7px;
    }

    .fa.icon2 {
        float: right !important;
        transform: rotate(90deg);
    }
</style>
